:root {
    --blueJeans: #4b89da;
    --darkBlue-1: rgb(21, 33, 56);
    --darkBlue-2: rgba(21, 33, 56, .98);
    --tomato: rgb(255, 99, 71);
}
* {
    font-family: "Poppins", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
nav {
    width: 100%;
    padding: 24px 16px;
}
.title a {
    font-size: 1.25em;
    font-weight: 300;
    letter-spacing: 1.1px;
    text-decoration: none;
    color: #fff;
}
.navlinks {
    width: 250px;
    height: 100vh;
    background-color: var(--blueJeans);
    position: fixed;
    top: 0;
    right: -250px;
    transition: 0.8s;
    z-index: 1;
}
.navlinks ul {
    margin-top: 80px;
}
.navlinks li {
    list-style: none;
    padding: 16px 32px;
    transition: 0.5s;
    border-top: 1px solid rgb(225, 225, 225, 0.4);
    border-bottom: 1px solid rgb(0, 0, 0, 0.4);
}
.navlinks li:hover {
    padding-left: 48px;
    transition: 0.5s;
}
.navlinks li a {
    font-size: 1.4em;
    text-decoration: none;
    color: #fff;
    padding: 8px 0;
    display: block;
}
.menu {
    width: 40px;
    height: 40px;
    text-align: center;
    background-color: #fff;
    border-radius: 4px;
    position: fixed;
    top: 24px;
    right: 16px;
    cursor: pointer;
    z-index: 3;
}
#menuBtn {
    width: 20px;
    margin-top: 10px;
}

header {
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(to bottom,
    rgba(0,0,0,0.9), rgba(0,0,0,0.9)), 
    url(assets/banner-2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
}
.zone-hero {
    width: 90%;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.zone-hero img {
    width: 200px;
    background-image: url(assets/banner.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 50%;
}
.zone-hero h1 {
    color: #eee;
}
.zone-hero p {
    color: #a5a5a5;
}

section {
    padding: 64px 16px;
    margin-top: -1px;
}
section:nth-child(1n) {
    background-color: var(--darkBlue-1);
}
section:nth-child(2n) {
    background-color: var(--darkBlue-2)
}

/*===== main =====*/
.about > .row {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: column;
}
.avatar {
    flex-basis: 50%;
    align-self: center;
}
.avatar img {
    width: 100%;
    max-width: 350px;
    margin-bottom: 24px;
}
.discover {
    flex-basis: 50%;
}
.small-title {
    color: tomato;
    letter-spacing: .9px;
    font-weight: normal;
    font-size: 16px;
    text-transform: uppercase;
}
.big-title {
    color: #fff;
    letter-spacing: 1px;
    margin: 4px 0 16px;
    font-size: 28px;
}
.big-title::after {
    content: "";
    width: 50px;
    height: 2px;
    background-color: tomato;
    display: block;
}
p {
    color: #c4c4c4;
    letter-spacing: .9px;
}
.my-bio {
    text-align: justify;
}
.info {
    border: 1px solid tomato;
    margin-top: 24px;
    padding: 16px 24px;
}
.info .row {
    align-items: flex-start;
}
.info span {
    color: #fff;
}
.btn-download-cv {
    text-decoration: none;
    color: #eee;
    background-color: tomato;
    padding: 16px 32px;
    margin-top: 24px;
    display: inline-block;
    font-size: 16px;
    letter-spacing: .8px;
    border-radius: 8px;
}

/*===== SERVICES =====*/
.services .row {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: column;
}
.service-col {
    flex-basis: 48%;
    margin: 24px 0 0;
    padding: 24px;
    border: 1px solid tomato;
}
.service-col .fa-solid {
    font-size: 56px;
    color: tomato;
    margin-bottom: 16px;
}

/*===== SKILLS =====*/
.skills > .row {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    max-width: 600px;
    margin: auto;
}
.skill-col {
    width: 120px;
    height: 120px;
    position: relative;
    margin: 16px;
    text-align: center;
}
.outer {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    padding: 20px;
    box-shadow: 6px 6px 10px -1px rgba(0,0,0,0.5),
                -6px -6px 10px -1px rgba(255,255,255,0.1);
}
.inner {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: inset 6px 6px 10px -1px rgba(0,0,0,0.5),
                inset -6px -6px 10px -1px rgba(255,255,255,0.1);
}
.percentage {
    font-size: 12px;
    font-weight: 500;
    color: #eee;
    text-align: center;
}
circle {
    fill: none;
    stroke: url(#GradientColor);
    stroke-width: 18px;
    stroke-dasharray: 310;
    animation: anim 2s linear forwards;
}
svg {
    position: absolute;
    top: 0;
    left: 0;
}
.circle-html-css,
.circle-figma {
    stroke-dashoffset: 46;
}
.circle-javascript,
.circle-photoshop,
.circle-git {
    stroke-dashoffset: 93;
}
.circle-php-mysql {
    stroke-dashoffset: 108;
}
.circle-illustrator {
    stroke-dashoffset: 124;
}

/*===== PORTFOLIO =====*/
.portfolio .row {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
}
.project-col {
    width: 280px;
    height: 250px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: 50% 0;
    margin: 12px auto;
}
.project-col:nth-child(1) {
    background-image: url(assets/racine-academie-mini.jpg);
}
.project-col:nth-child(2) {
    background-image: url(assets/Etiquette-détergent-mini.jpg);
}
.project-col:nth-child(3) {
    background-image: url(assets/Logo-ibracorp-mini.jpg);
}
.project-col:nth-child(4) {
    background-image: url(assets/Etiquette-carotte-bio.jpg);
}

/* Other Projects */
.other-projects {
    margin: 0 16px;
}
.other-projects h3 {
    color: var(--tomato);
    font-weight: normal;
    margin: 32px 0 8px;
}
.other-projects li {
    color: #eee;
    display: inline-block;
}
.other-projects li a {
    color: #eee;
    text-decoration: none;
}
.other-projects li:hover a {
    border-bottom: 1px solid #eee;
}

/*===== CONTACT =====*/
.contact > .row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    margin: 32px 0;
}
.contact-col {
    text-align: center;
    margin: 16px 0;
    min-width: 250px;
}
.contact-col .fa-solid {
    color: var(--tomato);
    font-size: 32px;
    margin-bottom: 8px;
}
.contact-col p {
    font-size: 14px;
}

.social-media .fa-brands {
    width: 40px;
    height: 40px;
    font-size: 1.2em;
    color: #eee;
    padding: 8px;
    border: 1px solid #eee;
    border-radius: 50%;
    cursor: pointer;
}
.social-media .fa-brands:hover {
    color: #fff;
    border-color: transparent;
}
.fa-facebook-f:hover {
    background-color: #3b5998;
}
.fa-twitter:hover {
    background-color: #00aced;
}
.fa-linkedin-in:hover {
    background-color: #0077b5;
}
.fa-instagram:hover {
    background-color: #f0f;
    background-image: linear-gradient(to top right, #fccc63, #cd486b, #8a3ab9);
    background-repeat: no-repeat;
}

.formgroup {
    width: 100%;
}
.formgroup input,
textarea {
    width: 100%;
    font-size: 16px;
    font-weight: normal;
    color: #eee;
    padding: 16px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    outline: none;
    resize: none;
    background-color: rgba(0, 0, 0, 0.5);
}
input[type="submit"] {
    width: auto;
    padding: 16px 32px;
    cursor: pointer;
    transition: 0.5s;
}
input[type="submit"]:hover {
    background-color: var(--tomato);
    transition: 0.5s;
}

/*===== FOOTER =====*/
footer {
    background-color: var(--darkBlue-2);
    margin-top: -1px;
}
.footer {
    max-width: 920px;
    margin: 0 auto;
    text-align: center;
    padding: 40px;
}
.footer p {
    color: #eee;
    font-size: 14px;
}
.footer strong {
    font-style: italic;
    font-weight: 500;
}

/*========== TABLET ==========*/
@media (min-width: 768px) {
    .about > .row,
    .services > .row,
    .contact > .row {
        flex-direction: row;
    }
    .contact > .row {
        align-items: flex-start;
    }
    input[type="text"],
    input[type="email"] {
        width: 49%;
    }
    input[type="email"] {
        float: right;
    }
}


/*========== DESKTOP ==========*/
@media (min-width: 1148px) {
    .about,
    .services,
    .skills,
    .portfolio,
    .contact {
        max-width: 920px;
        margin: 0 auto;
    }
    .avatar {
        flex-basis: 35%;
    }
    .discover {
        flex-basis: 63%;
    }
}